@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  cursor: pointer;
}
.detach {
  color: #e82147;
}
small {
  font-size: 12px;
  font-weight: bold;
}
h2 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  margin: auto;
  margin-bottom: 30px;
  max-width: 272px;
}
h3 {
  font-family: "Playfair Display", serif;
}
/* HEADER */
header {
  height: 386px;
  background-color: #ffdbbc;
  padding: 24px 0;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 950px;
  margin: auto;
}
.logo {
  display: flex;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 20.5px;
  font-weight: bold;
}
#header input {
  width: 366px;
  height: 30px;
  border-radius: 16.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  border: none;
  padding: 9px 22px;
  outline: 0;

  background-image: url("./assets/images/lupa.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 326px;
}
#user{
  cursor: pointer;
}
.user {
  display: flex;
  align-items: center;
}
.user > p.detach {
  font-weight: bold;
}
.user > img {
  width: 60px;
  background-color: #e82147;
  padding: 10px;
  border-radius: 50%;
}
#header .user > p.detach{
  margin-left: 10px;
}
#header-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 150px 0 0;
  max-width: 950px;
  margin: auto;
}
#header-infos > img {
  width: 160px;
}
#header-infos .text > p {
  font-weight: bold;
}
#header-infos .header-image {
  position: relative;
  background-image: url("./assets/images/elemento_1.svg");
  background-size: contain;
  background-repeat: no-repeat;

  width: 300px;
  height: 225px;

  display: flex;
  align-items: center;
  justify-content: center;
}
#header-infos .header-image > img {
  width: 225px;
}
.areaDescription{
    position: absolute;
    top: 158px;

    width: 225px;
    height: 35px;
    padding: 15px;
    background-color: #f0f0f0;

    display: flex;
    align-items: center;

    opacity: 0;
}
.areaDescription > img{
  margin-right: 10px;
  width: 10px;
}
.areaDescription:hover{
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s ease-out;
}
/* MAIN */
/* RECIPE */
.recipe {
  max-width: 950px;
  margin: auto;
  padding: 45px 0 0;
}
.recipe > h2 {
  margin-bottom: 0;
}
.recipe > img {
  width: 70px;
  margin-left: 850px;
}
.recipe-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipe-items .recipe-image {
  position: relative;
}
.recipe-items .recipe-image .areaDescription {
    top: 153px;

    left: 37px;
    width: 320px;
}
.recipe-items .recipe-text {
  width: 200px;
  height: 155px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recipe-items .recipe-text .stars #star {
  margin: 4px 0;
}
.recipe-items .recipe-text .arrows {
  display: flex;
}
.recipe-items .recipe-text .arrow {
  width: 10px;
}
.recipe-items .recipe-text .arrow-circ {
  display: flex;
  align-items: center;

  margin-right: 8px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 16%);
  background-color: #ffff;
}
.recipe-items .recipe-text .arrow-circ:hover {
  cursor: pointer;
  background-color: #e82147;
}
.recipe-items .recipe-text .arrow-circ:hover .arrow {
  filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(83deg) brightness(109%) contrast(100%);
}
.recipe > img.visual {
  display: flex;
  margin: 50px auto;
  width: 120px;
}
/* GATRONOMIC */
.gastronomic {
  max-width: 950px;
  margin: auto;
  padding: 0 0 120px;
}
.gastronomic img {
  width: 100px;
}
.gastronomic .titleElement {
  display: flex;
  align-items: center;
}
.card:hover{
    cursor: pointer;
    filter: invert(52%) sepia(96%) saturate(7430%) hue-rotate(337deg) brightness(93%) contrast(95%);
}
.active{
    filter: invert(52%) sepia(96%) saturate(7430%) hue-rotate(337deg) brightness(93%) contrast(95%);
}
.gastronomic .titleElement h2 {
  min-width: 400px;
}
.gastronomic .containGastronomic {
  font-family: "Playfair Display", serif;
  color: #969090;

  display: flex;
  align-items: center;
  justify-content: end;
  margin: 20px auto;
}
.gastronomic .containGastronomic .card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 5px 40px 5px 0;
  padding: 20px 60px;
  border: solid 0.5px #f0f0f0;
}
.gastronomic .containGastronomic .card.detach {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.16);
}
.gastronomic .containGastronomic .card img {
  width: 40px;
  height: 40px;
}
.gastronomic .containGastronomic img.gastro {
  width: 380px;
  margin-right: 20px;
}
/* FOOTER */
footer img.footerBack {
  position: relative;
  width: 100%;
}
footer .figures {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .figures > img {
  width: 125px;
  height: 75px;
}
footer .figures > img.figure1 {
    margin-top: 15px;
    margin-left: 50px;
    position: absolute;
}
footer .figures > img.figure2 {
    position: absolute;
    margin-left: 850px;
    margin-top: 20px;
    z-index: 1;
}
footer .containFooter {
  display: flex;
  position: absolute;
  z-index: 1;
  
  margin-top: 50px;
  margin-left: 180px;
}
footer .copyright {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 280px;
}
footer .copyright > small {
    font-size: 10px;
}
footer .social {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .social > a > img {
  width: 20px;
  height: 20px;
}
footer .social > a > img:hover {
  cursor: pointer;
  filter: invert(52%) sepia(96%) saturate(7430%) hue-rotate(337deg) brightness(93%) contrast(95%);
}
/* MODAL'S */
.modal-overlay{
  position: fixed;
  top: 0;

  display: flex;
  justify-content: end;

  width: 100vw;
  height: 100vh;
  background: #3b3b3b88;

  visibility: hidden;
  opacity: 0;
}
.modal-overlay.modal-active{
  visibility: visible;
  opacity: 1;
}
/* SIDEBAR */
.modal-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 60px;
  
  width: 380px;
  height: 100vh;
  background-color: #fff;
}
.modal-sidebar .closeSidebar{
  display: flex;
  cursor: pointer;
}
.modal-sidebar .closeSidebar img{
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.modal-sidebar .infoUser{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 260px;
  margin-bottom: 70px;
}
.infoUser .user > p.detach{
  margin-right: 10px;
}
.modal-sidebar .infoUser .contacts > div{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.modal-sidebar .infoUser .contacts img{
  width: 12px;
  margin-right: 5px;
}
.modal-sidebar small{
  font-size: 10px;
}
.modal-sidebar .infoUser .plan{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
.modal-sidebar .infoUser .bar{
  display: flex;
}
.modal-sidebar .infoUser .bar > div{
  width: 260px;
  height: 10px;
  margin-bottom: 2px;
  border-radius: 20px;
}
.modal-sidebar .infoUser .bar > div.bar_1{
  position: absolute;
  width: 150px;
  background-color: #e82147;
}
.modal-sidebar .infoUser .bar > div.bar_2{
  background-color: #E8E8E8;
}
.modal-sidebar .infoUser button{
  padding: 10px;
  background-color: #e82147;
  color: #f0f0f0;
  border: none;
  border-radius: 25px;
}
.settings > div{
  display: flex;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
}
.settings > div > img{
  width: 12px;
  margin-right: 8px;
}
.settings > div > small{
  font-size: 10px;
  color: #C4C1C1;
}
/* MODAL BOX AND PHOTO */
.modal-box, .modal-photo{
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 740px;
  height: 327px;
  margin: auto;
  background-color: #fff;
  border: 5px solid #0808089b;
}
.close{
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 22px;
  width: 15px;
}
/* MODAL BOX */
.modal-box .closeBox:hover{
  cursor: pointer;
}
.modal-box .box-infos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 327px;
  padding: 30px 40px 30px 30px;
}
.modal-box .box-infos .box-title {
  font-weight: bold;
  font-size: 12.5px;
}
.modal-box .box-infos .box-text {
  font-size: 11px;
}
.modal-box .box-infos .box-buttons {
  display: flex;
  align-items: center;
}
.modal-box .box-infos .box-buttons > div {
  cursor: pointer;
  display: flex;
  align-items: center;    
  justify-content: space-between;
  width: 65px;
}
.modal-box .box-infos .box-buttons > button {
  background-color: #fff;
  color: #e82147;
  border: solid 1px #e82147;
  border-radius: 12px;
  padding: 4px 12px;
  margin-right: 18px;

  display: flex;
  align-items: center;
  width: 80px;
}
.modal-box .box-infos .box-buttons > button > img {
  margin-right: 4px;
}
/* MODAL RECIPE */
.modal-photo{
  width: 640px;
  height: 227px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
}